/* .greenBottleWrapper {
  background-color: aliceblue;
  padding: 1rem;
} */
.greenBottleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  /* width: 50%; */
}

.greenBottleContainer > .bottle {
  max-width: 125px;
}

.priviledge {
  writing-mode: vertical-rl;
}

.explanation {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.content-item.bottle > span {
  margin-block-end: 1rem;
}

.content-item.bottle {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

@media (max-width: 768px) {
  .greenBottleContainer {
  }

  .greenBottleContainer > .bottle {
    max-width: 30%;
  }
}
