main {
  padding: 2rem;
  max-width: 1080px;
  margin: auto;
  font-size: 1.8rem;
}

section {
  padding: 2rem;
  min-height: 50vh;
  text-align: left;
}

p,
ul > li {
  line-height: 2.5rem;
}

ul > li {
  margin-bottom: 1rem;
}

section.content {
  margin-top: 20vh;
}

section.home.content {
  margin-top: 0;
}

section.home.content,
section.about.content,
section.contact.content,
section.pricing.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

section.expect.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
}

section.book.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  text-align: center;
}
section.about.content {
  align-items: flex-start;
}

section.skinny {
  max-width: 1080px;
  margin-left: auto;
  /* margin-right: auto; */
}

.content-item {
  margin-inline-end: 1.5rem;
}

.content-item:last-child {
  margin-inline-end: 0;
}

.pageNameMobile {
  display: none;
}

@media (max-width: 768px) {
  main {
    padding: 2rem;
    font-size: 1.6rem;
  }
  section {
    padding: 2rem;
    /* height: 100vh; */
    text-align: left;
  }

  section.home.content,
  section.about.content,
  section.contact.content,
  section.pricing.content {
    flex-direction: column;
  }

  section.home.content {
    flex-direction: column-reverse;
  }

  section.expect.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
  }

  section.content,
  section.home.content {
    margin-top: 10vh;
  }

  section.pricing.content,
  section.contact.content {
    align-items: flex-start;
  }

  section.contact.content > .content-item:last-child {
    margin-block-end: 20rem;
  }

  .content-item {
    margin-inline-end: 0;
    width: 100%;
  }

  .pageNameMobile {
    display: initial;
    text-transform: uppercase;
    color: var(--yellow);
    font-size: 3rem;
  }
}
