header {
  padding: 2rem;
  max-width: 100%;
  /* height: 20vh; */
  background-color: var(--pink);
  z-index: 9999;
  font-size: 2rem;
}

.logoWrapper > img.logo {
  position: fixed;
  top: 2rem;
  left: 2rem;
  width: 100%;
  max-width: 300px;
  flex-grow: 1;
  margin: auto;
  z-index: 99999;
}

nav {
  display: flex;
  justify-content: flex-end;
  max-width: 70%;
  align-items: flex-start;
  margin-bottom: 0;
  padding-top: 2rem;
  color: var(--blue);
  text-transform: uppercase;
  font-size: 2rem;
}

nav > ul {
  padding: 1rem;
  margin-block-end: 0;
}

.nav-item {
  display: flex;
  /* width: 30%; */
}

.nav-item > li {
  width: 33%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-inline-end: 2rem;
  /* font-weight: 600; */
  font-weight: 800;
  cursor: pointer;
}

.nav-item > li:hover {
  color: var(--yellow);
}
