.description {
  font-size: 3rem;
  margin-block-end: 3rem;
  padding: 2rem;
  width: 40%;
}

img.bella {
  width: 60%;
}

@media (max-width: 768px) {
  img.bella {
    width: 100%;
  }

  .description {
    font-size: 3rem;
    margin-block-end: 3rem;
    padding: 0;
    width: 100%;
  }
}
