/* footer {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  position: fixed;
  bottom: 0;
  color: var(--blue);
  background-color: aqua;
} */

.footer-item.logo {
  display: flex;
}
.footer-item > img.logo {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  max-width: 100px;
  flex-grow: 1;
  /* margin: auto; */
}

.footer-wrapper {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--blue);
}

.footer-wrapper > span {
  display: flex;
  align-items: flex-end;
  margin-block-end: 1rem;
}

.footer-wrapper > span:last-child {
  margin-block-end: 0;
}

.footer-wrapper > span > img.social {
  max-width: 2.5rem;
  margin-inline-end: 1rem;
}

.footer-item > a {
  color: #fff;
}

.footer-wrapper > span > a:hover {
  color: var(--yellow);
}
