.App.holding {
  background-color: var(--blue);
  justify-content: center;
  align-items: center;
  color: var(--pink);
}
body {
  background-color: var(--blue);
}

header {
  padding: 2rem;
  background-color: #002bab;
  display: flex;
  justify-content: space-between;
  color: var(--pink);
}

span.massage {
  color: var(--yellow);
}

header > .description {
  max-width: 30%;
  text-align: right;
  font-size: 2rem;
  margin-block-end: 0;
}

img.logo {
  position: fixed;
  top: 2rem;
  left: 2rem;
  width: 100%;
  max-width: 300px;
  flex-grow: 1;
  margin: auto;
  z-index: 99999;
}

footer {
  padding: 2rem;
  background-color: #002bab;
  display: flex;
  justify-content: space-between;
  color: var(--pink);
}

.footerItem {
  display: flex;
  align-items: flex-end;
}

.footerItem > img {
  max-width: 2.5rem;
  margin-inline-end: 1rem;
}

.hero {
  display: flex;
  flex-direction: column;
}

.taglineWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tagline {
  font-family: "SouvenirBold";
  color: var(--pink);
  font-size: 8rem;
}

img.face {
  max-width: 25%;
  align-self: flex-end;
  margin-top: -2rem;
}

a:hover {
  color: var(--yellow);
}

@media (max-width: 800px) {
  header {
    justify-content: center;
  }

  header > .description {
    display: none;
  }

  .tagline {
    font-family: "SouvenirBold";
    color: var(--pink);
    font-size: 7rem;
  }
}
